<div class='component-content'>
        <div class='lefthalf'>
            <span class='component-title'>{{title}} </span>
        </div>
    </div>
    <p *ngIf='!user'>Loading...</p>
    <div *ngIf='user'>
        <main class="single">
            <table class="table table-striped">
                <tr>
                    <td>
                        User Name:
                    </td>
                    <td>
                        <input [(ngModel)]="user.userName" class="rounded" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input [(ngModel)]="user.passWord" class="rounded" type="number">
                    </td>
                </tr>
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        <input [(ngModel)]="user.firstName" class="rounded" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:
                    </td>
                    <td>
                        <input [(ngModel)]="user.lastName" class="rounded" type="text">
                    </td>
                    <td>
                        Phone Number:
                    </td>
                    <td>
                        <input [(ngModel)]="user.phoneNumber" class="rounded" type="text">
                    </td>
                    <td>
                        E-mail:
                    </td>
                    <td>
                        <input [(ngModel)]="user.email" class="rounded" type="text">
                    </td>
                    <td>
                        Reviwer:
                    </td>
                    <td>
                        <input [(ngModel)]="user.isReviewer" class="rounded" type="text">
                    </td>
                    <td>
                        Admin:
                    </td>
                    <td>
                        <input [(ngModel)]="user.isAdmin" class="rounded" type="text">
                    </td>
                </tr>
            </table>
        </main>
        <span>
                <span><a routerLink="/users/edit/{{user.id}}" class="btn btn-sm btn-warning">Edit</a></span>
                <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
            </span>
    </div>